<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleXAMLLocalizationHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <SimpleXAMLLocalizationHelper.Properties.Settings>
      <setting name="KorFileName" serializeAs="String">
        <value>Korean</value>
      </setting>
      <setting name="JpnFileName" serializeAs="String">
        <value>Japanese</value>
      </setting>
      <setting name="EngFileName" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="ChnsFileName" serializeAs="String">
        <value>Chinese</value>
      </setting>
    </SimpleXAMLLocalizationHelper.Properties.Settings>
  </userSettings>
</configuration>
